@require 'variables'

.tac
  text-align center

.section
  padding 1.5rem
  background-color #ffffff
  border-radius 0.5rem
  overflow hidden
  @media (max-width $MQMobile - 1px)
    padding 1rem
  &:not(:first-child)
    margin-top 1rem
    @media (max-width $MQMobile - 1px)
      margin-top 0.5rem
  &:not(:last-child)
    margin-bottom 1rem
    @media (max-width $MQMobile - 1px)
      margin-bottom 0.5rem
  > :first-child
    margin-top 0
    > :first-child
      margin-top 0
  > :last-child
    margin-bottom 0
    > :last-child
      margin-bottom 0

.clearfix
  &::after
    display block
    clear both
    content ''
